body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: url(image/bg.jpeg) ;
    height: 100vh;
    width: 100%;
    background-size: cover;

}
.navbar{
    text-align: center;
    padding: 20px;

}
.navbar a{
    text text-decoration: none;
    color: yellow;
    font-size: 25px;
    font-family: Tahoma;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
}
.navbar a:hover{
    background: black;
    border: 2px solid red;

}
.head-content{
    text-align: left;
}
.head-content img{
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 20px;
}
.head-content img:hover{
    border: 3px solid black;
}
.name{
    cursor: pointer;
    font-size: 40px;
    color: yellow;
    font-family: Algerian;
}
.desig{
    cursor: default;
    font-size: 40px;
    color: red;
    font-family: Harlow solid;
}


    
